--extra-index-url https://download.pytorch.org/whl/cu126

torch
torchvision
torchaudio

transformers
datasets
accelerate
evaluate

peft
wandb

librosa
soundfile
jiwer

numpy
pandas
scipy

tensorboard
tqdm

huggingface_hub
safetensors

demucs
ffmpeg-python
torchcodec

pydub
faster-whisper

indic-nlp-library

gradio